.list {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  background: #9acd32;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 25%), 0 1px 1px rgb(0 0 0 / 14%),
    7px 7px 1px rgb(0 0 0 / 20%);
  padding: 5px;
  font-style: italic;
  font-family: monospace;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.title {
  margin: 0%;
  font-size: 20px;
  text-shadow: 1px 1px rgb(39, 35, 35);
  font-style: italic;
  font-family: monospace;
}
