.blok {
  background: rgb(185, 185, 185);
  height: 100vh;
}

.header {
  padding: 20px 30px;
  background: dodgerblue;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 200px;
}

.container {
  justify-content: center;
  display: flex;
}
